@import "~normalize.css";

@import "_variables";

@import "modules/editor.scss";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: url(../assets/img/background.jpg);
  color: #7b400d;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 460px;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-header {
  padding: 30px;
}

.textarea__content {
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px;
  height: 160px;
  width: 95%;
  outline-color: rgb(211, 154, 30);
  box-shadow: 1px 1px 16px 0 #000000;
  border: 1px solid black;
  border-radius: 6px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 95%;

  &__content {
    margin-left: 12px;
    border-radius: 6px;
    box-shadow: 1px 1px 16px 0 #000000;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    color: black;
  }
}


